<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarsExampleDefault"
      aria-controls="navbarsExampleDefault"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLinkActive="active" routerLink="/todos">TodosAnimation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/slide" routerLinkActive="active">slide</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/keyframes" routerLinkActive="active">Keyframes</a>
        </li>      
      </ul>
    </div>
  </div>
</nav>

<router-outlet class="todos"></router-outlet>

<h2> Toggle this below ! </h2>

<zippy title="Reflexion">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus hendrerit semper suscipit. Etiam vulputate leo orci, a maximus libero commodo eget. Aliquam convallis interdum turpis. Maecenas sagittis at ante at cursus. Pellentesque purus risus, viverra in justo efficitur, rutrum tempus odio. Suspendisse euismod congue varius. Integer quis dolor sit amet nisl pulvinar ultricies.
  </p>
  <p>
    Maecenas quam purus, pretium vel fringilla non, porta a risus. Aenean ornare ex erat, a posuere nulla auctor et. Pellentesque imperdiet augue nec sem dictum vulputate. Morbi sodales, dui et maximus interdum, lectus mi pellentesque nisi, eget mattis est est quis augue. Ut id venenatis mauris. Quisque nec dignissim nisi, vitae semper nulla. Fusce laoreet diam neque, vitae consectetur enim imperdiet et.
  </p>
</zippy>

